$bg-color: #222325;
$bg-light: #3b3b3b;
$h-color: #aaa;
$border-color: #646464;
$akcent-red: #aa2222;
$akcent-blue: #0ff;
$main-blue:#0188a8;

$gradient: linear-gradient(45deg, #ff9671, #f9f871, #0ff, #f9a371);
$max-width: 1000px;
